# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

img/default_avatar.png
img/users

frontend/web/assets
/frontend/custom_libs/bootstrap/stylesheets/
/frontend/custom_libs/bootstrap/fonts/bootstrap/
/frontend/custom_libs/bootstrap/javascripts/
/frontend/custom_libs/bootstrap/images/
/frontend/custom_libs/materialize/components/
/frontend/custom_libs/materialize/js/
/frontend/custom_libs/materialize/bin/
/frontend/custom_libs/materialize/test/
/frontend/custom_libs/materialize/templates/
/frontend/custom_libs/materialize/.npmignore
/frontend/custom_libs/materialize/CHANGELOG.md
/frontend/custom_libs/materialize/tests/
/frontend/custom_libs/materialize/fonts/
/frontend/custom_libs/materialize/.gitattributes
/frontend/custom_libs/materialize/.editorconfig
/frontend/custom_libs/materialize/sass/
/frontend/custom_libs/materialize/bower.json
/frontend/custom_libs/materialize/extras/
/frontend/custom_libs/materialize/CONTRIBUTING.md
/frontend/custom_libs/materialize/package.js
/frontend/custom_libs/materialize/dist/
/frontend/custom_libs/materialize/LICENSE
/frontend/custom_libs/materialize/.travis.yml
frontend/custom_libs/bootstrap/fonts/
frontend/custom_libs/materialize/.editorconfig
frontend/custom_libs/materialize/.gitattributes
frontend/custom_libs/materialize/.npmignore
frontend/custom_libs/materialize/.travis.yml
frontend/custom_libs/materialize/CHANGELOG.md
frontend/custom_libs/materialize/CONTRIBUTING.md
frontend/custom_libs/materialize/LICENSE
frontend/custom_libs/materialize/bin/
frontend/custom_libs/materialize/bower.json
frontend/custom_libs/materialize/dist/
frontend/custom_libs/materialize/extras/
frontend/custom_libs/materialize/fonts/
frontend/custom_libs/materialize/package.js
frontend/custom_libs/materialize/sass/
frontend/custom_libs/materialize/templates/
frontend/custom_libs/materialize/test/
frontend/custom_libs/materialize/tests/
.editorconfig
.gitattributes
.npmignore
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
LICENSE
bin/
bower.json
dist/
extras/
fonts/
package.js
sass/
templates/
test/
tests/
